/*
* declaration block:
*
* selelctor {
*   prop: val;
*  }
*
* */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rasa:ital,wght@0,300..700;1,300..700&family=Tillana:wght@400;500;600;700;800&display=swap');


body {
  background-color: #110044;
  color: #bbb;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  height: 400px;
  width: 200px;
  padding: 5px;
  line-height: 30px;
  display: none;
  background-color: #110044;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  color: #bbb;

  padding: 0;
}

nav li {
  margin: 5px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  font-family: 'Rasa', sans-serif;
  font-weight: 400;
  color: #bbb;

  font-style: normal;
}

#navToggle {
  background: none;
  border: none;

  :hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    flex-direction: column;
  }
}


table {
  width: 75%;
  margin: 20px;
  background-color: #110044;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

header {
  background-color: #110044;
  padding: 40px;
  color: #bbb;
  text-align: center;
  border-radius: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222244;
  color: #bbb;
  padding: 10px;
  text-align: center;
  margin-right: 200px;
}

#memeImage {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 120px;
  height: auto;
  border: 3px solid #000;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  font-weight: 900;
  letter-spacing: .25em;
  border-bottom: solid;
}

h2 {
  font-family: "Tillana", system-ui;
  font-weight: 600;
  font-style: normal;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px;
  padding: 5px;
}
